html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    background-color: #f8f8f8;
}
.navigation-wrapper {
    width: 100%;
    background-color: #F53656;
    margin-bottom: 1em;
}
.navigation-content {
    max-width: 1024px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.company-name {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
}
.search-content {
    display: flex;
    border: #a3a3a3;
}
.navigation-content input {
    width: 300px;
    padding: 0.8em;
    border: none;
}
.navigation-content input:focus {
    outline-color: black;
}
.search {
    background-color: #eee;
    border: none;
    cursor: pointer;
}
.search:hover {
    background-color: #ddd;
}
.search:focus {
    outline-color: black;
}
.search img {
    height: 20px;
    width: 20px;
}

.auction-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
}
.article-wrapper {
    width: 32%;
    background-color: #fff;
    padding: 1em;
    border: 1px solid #ddd;
    margin-bottom: 1em;
    text-align: center;
}
.article-wrapper h1 {
    margin-top: 0.5em;
}
.article-wrapper input:hover {
    cursor: pointer;
}
.big {
    font-weight: bold;
    margin-bottom: 0;
}
.auction-info {
    display: flex;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
}
.auction-info div {
    width: 50%;
    padding: 2em;
}
.auction-info h1 {
  margin-top: 0;
}
.btn {
    background-color: #F53656;
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    cursor: pointer;
}
